<h1>Users</h1>
<!-- Lots of nifty things happening here. We are:
  - creating an <input/> for every person in the user array
  - binding each <input/> value to the user's name
  - conditionally applying the ".awesome" css class if user.awesome is set to true (which happens after save to server).
  - calling saveAll() in our controller when the button is clicked, which then updates all the users on the server
-->
<ul class="users">
  <input ng-repeat="user in users" ng-model="user.name" ng-class="{awesome : user.awesome}">
  </input>
  <input type="button" value="Save Changes" ng-click="saveAll()"></input>
</ul>
<hr/>